html,
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    padding-top: 5rem;
}

.title-banner {
    padding: 3rem 1.5rem;
    padding-bottom: 1rem;
    text-align: center;

}

.title-starter {
    /* background: -webkit-linear-gradient(270deg, #BE53FF, #1B23C7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato; */
    background: linear-gradient(90deg, #BE53FF, #B24FFB, #1B23C7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 4rem;
}

/*banner*/



.btn-custom {
    border-radius: 25px;
    background: linear-gradient(90deg, #BB52FE, #9447F1);
    color: #FFFFFF;
    border: #007bb6;
    font-size: 16px;
    height: auto;
    font-weight: 400;
    padding: 10px 30px;
}

.text-h1 {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bolder;
}

.text-h3 {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: bold;
}

.text-span {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 100;
}

.banner-starter {
    position: relative;
    box-shadow: 0px 0px 25px 1px #888888;
    width: 100%;
    height: 450px;
    border-radius: 60px;
    background-image: linear-gradient(35deg, rgba(190, 83, 255, 0.6),
            rgba(27, 35, 199, 0.6), rgba(190, 83, 255, 0.6)),
        url('/assets/images/home-page-img/woman-entering-the-world-of-the-metaverse-with-vr-2022-04-20-02-07-31-utc\ 1.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    background-size: cover;
}

/*banner end*/

/*bg-gray start*/

.bg-gray {
    background-color: #eee;
    display: inline-block;
    width: 100%;
    z-index: -1;
    margin-top: -100px;
    position: absolute;
    height: 100px;
}

.bg-notifications-elemtes {
    margin-bottom: 50px;
    background-color: #eee;
}

/*bg-gray end*/

.bg-cards {
    background-color: rgba(255, 255, 255, 0.5);
    /* box-shadow: 0px 0px 25px 1px #888888; */
    text-align: center;
    border-radius: 10px;
}

.bg-cards-span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    text-align: justify;
    line-height: 11px;
}

.height-row {
    height: 90px;
}

.notifications-img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.notifications-text-h3 {
    font-size: 1.2rem;
    line-height: inherit;
    font-weight: 600;
    margin: auto;
}

.notifications-text-span {
    font-size: 0.8rem;
    color: #B1B1B1;
}


/* css the rounder switch*/

.toggle {
    cursor: pointer;
    display: inline-block;
    margin: 0px 50px;

}

.toggle-switch {
    display: inline-block;
    background: #F3F3F3;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
    box-shadow: 0px 4px 5px 1px #dfdcdcee;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(90.33deg, #BE53FF -6.94%, #B24FFB 2.79%, #1B23C7 126.54%, rgba(225, 164, 251, 0) 126.55%, #1B23C7 126.55%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle-checkbox:checked+.toggle-switch {
    background: linear-gradient(90.33deg, #BE53FF -6.94%, #B24FFB 2.79%, #1B23C7 126.54%, rgba(225, 164, 251, 0) 126.55%, #1B23C7 126.55%);
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
    background: #ffffff;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/* css end the rounder switch*/

/*banner de la parte de abajo comienza aqui*/

.con-down {
    margin-bottom: 3rem;
}


.img-apply {
    text-align: center;
    margin: 60px 0px;
}


.div-apply {
    text-align: center;
}

.h1-apply {
    font-size: 5rem;
    font-weight: 700;
    color: #000;
}





/*termina el banner de la parte de abajo*/

/*css the footer*/
.site-footer {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px 1px #888888;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    background: linear-gradient(90.33deg, #BE53FF -6.94%, #B24FFB 2.79%, #1B23C7 126.54%, rgba(225, 164, 251, 0) 126.55%, #1B23C7 126.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #AF4FFA; */
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
    font-weight: 400;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373;
    text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 10px
    }
}

.img-center-apply {
    margin: 5px 0px;
    text-align: center;
}




@media (min-width: 300px) {
    .height-row {
        height: auto;
        margin: 10px 0px;
    }

    .title-starter {
        font-size: 2.6rem;
    }

    .h1-apply {
        font-size: 3rem;
    }

    .banner-right{
        text-align: center;
    }
    .banner-left{
        text-align: center;
    }

    .text-h1 {
        font-size: 2.6rem;
    }
    .text-h3{
        font-size: 1.8rem;
    }
    .text-span{
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {

    .height-row {
        height: 90px;
    }

    .title-starter {
        font-size: 3rem;
    }

    .h1-apply {
        font-size: 2.6rem;
    }

    .banner-right{
        text-align: right;
    }
    .banner-left{
        text-align: left;
    }
    .text-h1 {
        font-size: 3rem;
    }
    .text-h3{
        font-size: 2rem;
    }
    .text-span{
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {

    .height-row {
        height: 90px;
    }

    .title-starter {
        font-size: 4rem;
    }

    .h1-apply {
        font-size: 5rem;
    }

    .banner-right{
        text-align: right;
    }
    .banner-left{
        text-align: left;
    }
    .text-h1 {
        font-size: 4rem;
    }
    .text-h3{
        font-size: 2.8rem;
    }
    .text-span{
        font-size: 2.8rem;
    }
}


@media (min-width: 1400px) {
    .height-row {
        height: 90px;
    }

    .title-starter {
        font-size: 4rem;
    }

    .h1-apply {
        font-size: 5rem;
    }

    .banner-right  {
        text-align: right;
    }
    .banner-left{
        text-align: left;
    }
    .text-h1 {
        font-size: 4rem;
    }
    .text-h3{
        font-size: 2.8rem;
    }
    .text-span{
        font-size: 2.8rem;
    }
}